[submodule "apps/foreclosureworkflow"]
	path = apps/foreclosureworkflow
	url = https://github.com/candlestixxx/forclosureworkflow.git
[submodule "apps/aicrm"]
	path = apps/aicrm
	url = https://github.com/candlestixxx/aicrm.git
[submodule "apps/leadcaller"]
	path = apps/leadcaller
	url = https://github.com/candlestixxx/realestateleadcaller.git
[submodule "apps/leadg"]
	path = apps/leadg
	url = https://github.com/candlestixxx/leadG.git
[submodule "apps/contentplanner"]
	path = apps/contentplanner
	url = https://github.com/candlestixxx/socialmediacontentplanner.git
[submodule "apps/media-workflow"]
	path = apps/media-workflow
	url = https://github.com/candlestixxx/re-agent-workflow-media-1.git
[submodule "apps/prototype"]
	path = apps/prototype
	url = https://github.com/candlestixxx/realestateprototype.git
[submodule "apps/legacyleads"]
	path = apps/legacyleads
	url = https://github.com/candlestixxx/LegacyLeads.git
